{% extends 'base2.html.twig' %}

{% block main %}
    <div class="container body-content span=8">
        <div class="well">
            <form class="form-horizontal" action="{{ path('profile_edit') }}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Account settings</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_fullName">Change Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_fullName" placeholder="Full Name"
                                   name="user[fullName]" value="{{ user.fullName }}">
                            <input type="hidden" name="user[password]" value="{{ user.password }}">
                            <input type="hidden" name="user[photo]" value="{{ user.photo }}">
                            <input type="hidden" name="user[status]" value="{{ user.status }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Content</label>
                        <div class="col-sm-6">
                            <img width="400px" src="{{ asset('uploads/photos/' ~ user.photo) }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_email">Change Email</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_email" placeholder="Email"
                                   name="user[email]" value="{{ user.email }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_email">First Type
                           </label>
                        <div class="col-sm-4 ">
                            <input type="radio" name="user[profiletype]" value="first" checked="checked" />
                            <img width="300px" src="{{ asset('images/art/profile1.JPG') }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_email">Second Type
                        </label>
                        <div class="col-sm-4 ">
                            <input type="radio" name="user[profiletype]" value="second" />
                            <img width="300px" src="{{ asset('images/art/profile2.JPG') }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_fb">Change Facebook</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_fb" placeholder="Facebook"
                                   name="user[facebook]" value="{{ user.facebook }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_tw">Change Twitter</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_tw" placeholder="Twitter"
                                   name="user[twitter]" value="{{ user.twitter }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_ins">Change Instagram</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_ins" placeholder="Instagram"
                                   name="user[instagram]" value="{{ user.instagram }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_email">Change Email</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_email" placeholder="Email"
                                   name="user[email]" value="{{ user.email }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Change Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_content"
                                      name="user[description]">{{ user.description }}</textarea>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('list_articles') }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <br>
            <fieldset>
                <legend>Add pages:</legend>
            <div class="form-group">
                <div class="col-sm-4 ">
                    <a href="{{ path('page_create') }}"><button class="btn btn-success">Create new page</button></a>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <a href="{{ path('question_create') }}"><button class="btn btn-success">Add new question</button></a>
                </div>
            </div>
            <br>
            </fieldset>
        </div>
    </div>
{% endblock %}

