{% extends 'base2.html.twig' %}

{% block main %}
    <div class="content-wrapper">

        <div class="light-wrapper">
            <div class="container">
                <section id="home">
                    <div class="dark-wrapper">
                        <div class="container inner">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h2 class="section-title text-center">Explore PHOTON's Posts</h2>
                                    <p class="lead text-center">Thanks for taking some time to visit PHOTON member's posts. Here you will be able to find their latest and favorite works.</p>
                                </div>
                                <!-- /column -->
                            </div>
                            <!-- /.row -->
                            <div class="divide20"></div>
                            <div id="js-lightbox-filter" class="cbp-filter-container text-center">
                                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
                                <div data-filter=".1" class="cbp-filter-item">Nature</div>
                                <div data-filter=".2" class="cbp-filter-item">Portrait</div>
                                <div data-filter=".3" class="cbp-filter-item">Outdoor</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="divide25"></div>
                            <div id="js-grid-lightbox" class="cbp cbp-l-grid-inline light-gallery">
                                {% for article in articles%}
                                    <div class="cbp-item {{ article.category}} conceptual food-drink"> <a href="{{ path('article_view', {'id': article.id}) }}" class="cbp-caption" >
                                            <div class="cbp-caption-defaultWrap"> <img width="200px" src="{{ asset('uploads/photos/' ~ article.photo) }}" alt=""> </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title">
                                                            <h5>{{ article.title }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="caption{{ article.id }}" class="hidden">
                                                <a href="{{ path('article_view', {'id': article.id}) }}"><h4>{{ article.title }}</h4></a>
                                                <p>{{ article.author }}</p>
                                            </div>
                                        </a> </div>

                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.dark-wrapper -->
                </section>
            </div>
            <!-- /.container -->

        </div>
        <!-- /.light-wrapper -->
    </div>
{% endblock %}

